[Desktop Entry]
Exec=/usr/bin/lxqt-config-appearance
Name=LXQt Appearance Configuration
Comment=GUI appearance application of LXQt: the fast and lightweight Qt Desktop Environment
Type=Application
