[Desktop Entry]
Version=1.0
Name=XDG-Open
GenericName=XDG-Open
Comment=Open files and links with Default Applications
Exec=xdg-open %u
Icon=firefox
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Network;WebBrowser;
Keywords=web;browser;internet;

X-Desktop-File-Install-Version=0.24
